
.header{
    grid-area: header;
    background-color: #dbfafa;
    margin-right: 10px;
}


.panel {
    align-items: center;
    z-index: 1;
    display: flex;
    color: black;
    flex-direction: row;
    justify-content: left;
    margin: 0 0;
    width: 100%;
    padding: 10px;

    list-style: none;
}
.li{
    margin-right: 20px;
}
.li a{
    text-decoration: none;
    font-size: 16px;
    top: 50%;
}
.li a:visited{
    color: black;
}
.nav{
    text-decoration: bisque;
}