
.gameScreen{
    grid-area: Screen;
}

.exitButton{
    grid-area: exit;

}

.startButton{
    grid-area: start;
}

.gameScreenGrid{
    grid-template-areas:
    "gameCard user"
    "start exit";
    display: grid;
    grid-template-columns: 10fr 5fr;
    grid-template-rows: 8fr 3fr;
    margin: 10px 10px 10px 10px;
}

